<!DOCTYPE html>
<html lang="ja">
<head>
	<?php echo $this->Html->charset(); ?>
	<?php echo $this->fetch('meta'); ?>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<base href="<?php echo WEB_BASE_URL;?>" target="_self">
	<title><?php echo SITE_TITLE; ?></title>

	<script type="text/javascript" src="assets/js/php/jquery.min.php"></script>
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/php/sites.php">

	<!-- Bootstrap core CSS -->
	<link href="assets/css/php/bootstrap.min.php" rel="stylesheet">

	<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
	<link href="assets/css/php/ie10-viewport-bug-workaround.php" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/php/style.php" />
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/php/login.php" />
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/php/style.custom.php" />
	<link rel="stylesheet" type="text/css" media="all" href="assets/css/php/font-awesome.min.php" />
	<link href="assets/css/php/jquery.confirm.php" rel="stylesheet">
	<!-- <link href="assets/css/fakeLoader.css" rel="stylesheet"> -->
    <link rel="shortcut icon" href="dandori.ico">
</head>

<body>

<?php echo $this->fetch('content'); ?>
<?php echo $this->element("footer"); ?>

<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>-->
<link rel="stylesheet" type="text/css" media="all" href="assets/css/php/jquery-ui.min.php">
<link rel="stylesheet" type="text/css" media="all" href="assets/css/php/jquery-ui-timepicker-addon.php">
<link rel="stylesheet" type="text/css" href="assets/css/php/animate.min.php" async>
</body>

</html>

